#Basic stuff
node_modules/
.DS_Store
*.log
.env
python/dist/
__pycache__/
*.pyc

# Claude- Claude's files
claude/
 
# Ignore build output directories
dist/
**/dist/
packages/lcyt-web/dist/index.html

# Ignore database files, all .db files globally
*.db
*.db-shm
*.db-wal

